{% extends 'base_generic.html' %}

{% block meta_description %}
  Join Haiku Microblog - Sign up to create and share your own haikus, or log in if you're already a member.
{% endblock %}

{% block title %}
  Sign Up
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1>Sign Up</h1>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
